body {
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

#container {
  height: 100%;
}

.buttonBar {
  margin-bottom: 10px;
}

.button {
  background: linear-gradient(rgb(93, 16, 217), rgb(129, 71, 221));
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.0rem;
  padding: 10px;
  transition: filter 0.1s linear;
  margin-right: 10px;
}

.button:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.button:active {
  filter: brightness(80%);
}

.button:disabled {
  background: linear-gradient(rgb(127, 127, 127), rgb(160, 160, 160));
  color: black;
  filter: brightness(100%);
}

.congrats {
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.congratsMessage {
  text-align: center;
  font-style: italic;
  font-size: large;
  color: rgb(129, 71, 221);
}

.congratsTitle {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(93, 16, 217);
  margin-bottom: 10px;
}

.label {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#storybook-root {
  height: 100%;
}