.buttonBar {
  margin-bottom: 10px;
}

.button {
  background: linear-gradient(rgb(93, 16, 217), rgb(129, 71, 221));
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.0rem;
  padding: 10px;
  transition: filter 0.1s linear;
  margin-right: 10px;
}

.button:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.button:active {
  filter: brightness(80%);
}

.button:disabled {
  background: linear-gradient(rgb(127, 127, 127), rgb(160, 160, 160));
  color: black;
  filter: brightness(100%);
}

.label {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}